{% extends "base.html" %}

{% block script %}
    <script src="/static/js/_test.js"></script>
{% endblock %}

{% block body %}
<div id="_test">
    <p>{[ realName ]}</p>
    <button id="btn" type="button" class="btn btn-primary" v-on:click="getName">获取</button>
    <button id="btnRegister" type="button" class="btn btn-primary" v-on:click="register">注册</button>
    <button id="btnGetAllUsers" type="button" class="btn btn-primary" v-on:click="getAllUsers">getAllUsers</button>

</div>
{% endblock %} 