<div class="nav flex-column nav-pills f-hide" id="left-nav-tab" role="tablist" aria-orientation="vertical">
    <a class="btn btn-outline-dark active" id="left-nav-home-tab" data-toggle="pill" href="#left-nav-home" role="tab" aria-controls="left-nav-home" aria-selected="true">个人主页</a>
    <div style="height: 10px;"></div>
    <a class="btn btn-outline-dark" id="left-nav-profile-tab" data-toggle="pill" href="#left-nav-profile" role="tab" aria-controls="left-nav-profile" aria-selected="false">我的证书</a>
    <div style="height: 10px;"></div>
    <a class="btn btn-outline-dark" id="left-nav-messages-tab" data-toggle="pill" href="#left-nav-messages" role="tab" aria-controls="left-nav-messages" aria-selected="false">我的组织</a>
</div>