<div class="row align-items-center justify-content-lg-center">
    <div class="col">
        <div id="login-or-join" class="f-center">
            <h1>PASS</h1>
            <button type="button" class="btn btn-outline-dark" v-on:click="login">登录</button>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#joinModal" data-whatever="@mdo">注册</button>               
        </div>
    </div>
</div>

<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
            <h5 class="modal-title" id="joinModalLabel">请填写信息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="userNickName" class="col-form-label">昵称：</label>
                        <input data-container="body" data-toggle="popover" data-placement="bottom" data-content="昵称必须填写！" type="text" class="form-control" id="userNickName" placeholder="请输入你的昵称" required>
                    </div>
                    <div class="form-group">
                        <label for="personalWords" class="col-form-label">个性签名：</label>
                        <textarea class="form-control" id="personalWords" placeholder="请写下你喜欢的一句话"></textarea>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" v-on:click="register">注册</button>
            </div>
            
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div id="repeatRegisterAlert"  class="alert alert-danger fade" role="alert">
                您已经注册过了！请不要重复注册！
            </div>
        </div>
    </div>

</div>

