<div id="main-div" class="row align-items-center justify-content-lg-center">
                    
    <div class="tab-content col-lg-10" id="left-nav-tabContent">
        <div class="tab-pane fade show active" id="left-nav-home" role="tabpanel" aria-labelledby="left-nav-home-tab">
          {% include "my_homepage.html" %}
        </div>
        
        <div class="tab-pane fade row" id="left-nav-profile" role="tabpanel" aria-labelledby="left-nav-profile-tab">
          {% include "my_certs.html" %}
        </div>

        <div class="tab-pane fade" id="left-nav-messages" role="tabpanel" aria-labelledby="left-nav-messages-tab">
          {% include "my_orgs.html" %}
        </div>
    </div>
    
<!--
    <div class="col-lg-1 d-none d-lg-block"></div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="my-btn-big">申请证书</div>
    </div>

    <div class="my-btn-big col-lg-3 col-md-4 col-sm-6">
        <div class="my-btn-big">我的证书</div>
        
    </div>
    <div class="my-btn-big col-lg-3 col-md-4 col-sm-6">
        <div class="my-btn-big">创建组织</div>
        
    </div>
    <div class="row"></div>
    <div class="my-btn-big col-lg-3 col-md-4 col-sm-6">
        <div class="my-btn-big">我的组织</div>
        
    </div>
-->

</div>